<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'tools_banner.jpg' %>');">
  <div class="banner-content">
    <div class="container">
      <div class="d-flex">
        <div>
          <h1>AirTool</h1>
          <p>Where you can find the tool</p>
          <%= link_to "Add New Tool", new_tool_path, class: "btn btn-warning" %>
        </div>
        <div>
          <div class="arrow arrow-first"></div>
          <div class="arrow arrow-second"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<br>
  <h1>Welcome, choose a tool</h1>
  <h3><%= form_tag tools_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], placeholder: "Search tools" %>
  <%= submit_tag 'Search!' %>
<% end %></h3>
  <div class="d-flex">
    <div id="map"
       style="margin: 8px; width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="row">
      <% @tools.each do |tool| %>
          <div class="col-sm-6">
            <%= link_to tool, class: "text-decoration-none text-reset" do %>
              <div class="card-trip m-2">
                <% if tool.photo.present? %>
                  <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= image_tag "default_tool.png", height: 300, width: 400, crop: :fill %>
                <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= tool.name %></h2>
                    <p><%= tool.category %></p>
                  </div>
                  <h2 class="card-trip-pricing">$AR <%= tool.price %></h2>
                  <% if tool.user.avatar.present? %>
                    <%= cl_image_tag tool.user.avatar.key, class: "card-trip-user avatar-bordered", 'aria-haspopup': true, 'aria-expanded': false %>
                  <% else %>
                    <%= image_tag "default_avatar.jpg", class: "card-trip-user avatar-bordered", 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

