<br>
<div class="container">
  <%= simple_form_for(@tool) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 5 } %>
  <%= f.submit %>
  <% end %>
</div>

