<div class="container">
  <h1><%= @tool.name %></h1>
  <h4>Category: <%= @tool.category %></h4>
  <h4>Price: $<%= @tool.price %></h4>
  <h4>Rating:
    <% if @tool.rating.nil? %>
      <p>No rating for this tool</p>
    <% else %>
      <% counter = 0 %>
      <% 5.times do %>
        <i class="fa <%= @tool.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
        <% counter += 1 %>
      <% end %>
    <% end %>
  </h4>
  <% if @tool.description.nil? == true %>
    <p>No description found</p>
  <% else %>
    <h4>Description: <%= @tool.description %></h4>
  <% end %>
  <% if policy(@tool).update? %>
    <%= link_to "Edit tool", edit_tool_path, class: "btn-gradient" %>
  <% end %>
  <% if policy(@tool).destroy? %>
    <%= link_to "Delete tool", tool_path, method: :delete, class: "btn-gradient" %>
  <% end %>
  <%= link_to "Reserve tool", new_tool_reservation_path(@tool), class: "btn-gradient" %>
  <br>
  <br>
  <h3>Reviews</h3>
  <ul class="list-group">
  <% @tool.reviews.each do |review| %>
    <li class="list-group-item">
      <div class="d-flex">
        <div class="mr-auto p-2"><%= review.content %></div>
        <div class="p-2"><%= review.created_at %></div>
        <div class="p-2">by <strong><%= review.user.name %></strong></div>
      </div>
    </li>
  <% end %>
  </ul>
  <%= simple_form_for([@tool, @review]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-gradient" %>
  </div>
<% end %>
</div>
