<div class="container">
  <h1>Your Reservations</h1>
  <div>
    <div class= "row justify-content-lg-center">
      <div class= "col col-lg-center">
        <div class="card-trip container">
          <% @reservations.each do |reservation| %>
            <% if reservation.tool.photo.present? %>
              <%= cl_image_tag reservation.tool.photo.key %>
            <% else %>
              <%= image_tag "default_tool.png" %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h3>Tool: <%= reservation.tool.name %></h3>
                <h2>Owner: <%= reservation.owner.name %></h2>
                <p>Reserved to: <%= reservation.user.name %></p>
                <p>Status: <%= reservation.status %></p>
                <p class="font-weight-bold">Start reservation: <%= reservation.start_date %></p>
                <p class="font-weight-bold">End reservation: <%= reservation.end_start %></p>
              </div>
              <div>
                <%= link_to "Go Back", tools_path, class: "btn-gradient" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
