<ul>
  <% @reservations.each do |reservation|%>
    <li>
      <p><%= reservation.tool %></p>
      <p><%= reservation.user %></p>
      <p><%= reservation.status %></p>
      <p><%= reservation.start_date %></p>
      <p><%= reservation.end_start %></p>
    </li>
  <% end %>
</ul>
