<div class="container">
  <h1>Your Reservations</h1>
  <div class="d-flex">
    <div class="row">
      <div class="col-sm-6">
        <div class="card-trip m-2">
          <% @reservations.each do |reservation| %>
          <img src="https://images.unsplash.com/photo-1581166397057-235af2b3c6dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>
            <div class="card-trip-infos">
              <div>
                <h3>Tool: <%= reservation.tool.name %></h3>
                <h2>Owner: <%= reservation.owner.name %></h2>
                <p>Reserved to: <%= reservation.user.name %></p>
                <p>Status: <%= reservation.status %></p>
                <p class="font-weight-bold">Start reservation: <%= reservation.start_date %></p>
                <p class="font-weight-bold">End reservation: <%= reservation.end_start %></p>
              </div>
            </div>
          <% end %>
        </div>
      <div class="container">
    <%= link_to "Go Back", tools_path, class: "btn-gradient" %>
  </div>
</div>
