<div class="container">
  <div class="row justify-content-around">
    <div class="card-body">
      <h5 class="card-title font-weight-bold"><%= @tool.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @tool.category %></h6>
      <p class="card-text">Price: $<%= @tool.price %></p>
      <%= simple_form_for(@reservation) do |f| %>
      <%= f.label "Start" %>
      <%= f.datetime_field :start_date %>
      <%= f.label "End" %>
      <%= f.datetime_field :end_start %>
    </div>
  </div>
</div>
<% end %>
