<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1581166397057-235af2b3c6dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>
  <div class="card-trip-infos">
    <div>
      <h1 class="card-title font-weight-bold">Name: <%= @tool.name %></h2>
      <h2 class="card-subtitle mb-2 text-muted">Category: <%= @tool.category %></p>
      <h2 class="card-trip-pricing">Price per day: $<%= @tool.price %></h2>
        <%= simple_form_for([@tool, @reservation]) do |f| %>
          <%= f.label "Start" %>
          <%= f.datetime_field :start_date %>
          <%= f.label "End" %>
          <%= f.datetime_field :end_start %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
